* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 30px 20px;
}

nav {
  background: #fff8;
  backdrop-filter: blur(6px);
  box-shadow: 0 0px 2px 2px #0002;
  display: flex;
  justify-content: flex-end;
  left: 0;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100vw;
}

nav > a {
  margin-left: 10px;
}

nav > a:first-child {
  margin-left: 0;
  margin-right: auto;
}

form {
  display: inline-flex;
  flex-direction: column;
}