<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= pokemon.name.english %></title>
  </head>
  <body>
    <a href="/pokedex">← back to pokedex</a>
    <h1><%= pokemon.name.english %></h1>
    <div>Type: <%= pokemon.type %> </div>
  </body>
</html>